<ion-view title="Detail">


    <ion-nav-buttons side="left">
        <button class="button button-icon ion-arrow-left-c" ng-click="backToHome()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon ion-play" ui-sref="sensorTagPlay()"></button>
    </ion-nav-buttons>

          <ion-content>
              <div class="list">
                  <div class="item item-divider">
                      Details for {{currentDevice.name}}
                  </div>
                  <div class="item" ng-repeat="(key, value) in currentDevice">
                      key: {{key}} // value: {{value}}
                  </div>
              </div>

          </ion-content>

      </ion-view>
