    <ion-header-bar class="bar-assertive">

        <h1 class="title">Sensor Tag Playground</h1>
        <button class="button button-icon" ng-click="scanForDevices();rescan=!rescan;" ng-model="rescan">
            <span id="rescanButtonId" class="icon" ng-class="{'ion-looping':rescan,'ion-loop':!rescan}"></span>
        </button>


    </ion-header-bar>


    <ion-content >

        <div class="list">
            <div class="item item-divider">
                Sensor Tags
            </div>

            <div ng-repeat="device in DeviceService.devices">
                    <div class="item">
                        <div class="row">
                            <div class="col col-75">
                                <h2>{{device.name}}</h2>
                                <p>Address: {{device.address}}</p>
                            </div>

                            <!--<div class="col">-->
                                <!--<button class="button button-small button-dark" ng-click="connectDevice($index)">-->
                                    <!--{{buttonConnectText}}-->
                                <!--</button>-->
                            <!--<br>-->
                            <br>
                                <button class="button button-small button-dark" ui-sref="sensorTagDetail({'deviceId' : $index})">
                                        Details
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </ion-content>


